.container {
	background-color: #00a1ff;
	margin: auto;
	padding: 10px;
	border: 1px solid #002d48;
	height: 15vh;
	width: 10vw;
	display: flex;
	flex-direction: column-reverse;
}

.item {
	border: 1px solid black;
}